Move Zeroes
Given an integer array nums, move all 0's to the end of it while maintaining the relative order of the non-zero elements.

Note that you must do this in-place without making a copy of the array.

Example 1:
Input: nums = [0,1,0,3,12]
Output: [1,3,12,0,0]

Example 2:
Input: nums = [0]
Output: [0]

Constraints:
a. 1 <= nums.length <= 10^4
b. -2^31 <= nums[i] <= 2^31 - 1

In [1]:
def moveZeroes(nums):
    # Initialize two pointers
    left = 0
    right = 0
    
    # Move non-zero elements to the left side of the array
    while right < len(nums):
        if nums[right] != 0:
            nums[left] = nums[right]
            left += 1
        right += 1
    
    # Fill the remaining elements with zeroes
    while left < len(nums):
        nums[left] = 0
        left += 1

In [3]:
arr=[0,1,0,3,12]
moveZeroes(arr)
print(arr)

[1, 3, 12, 0, 0]

First Unique Character in a String

Given a string s, find the first non-repeating character in it and return its index. If it does not exist, return -1.

Example 1:
Input: s = "leetcode"
Output: 0

Example 2:
Input: s = "loveleetcode"
Output: 2

Example 3:
Input: s = "aabb"
Output: -1

Constraints:
a. 1 <= s.length <= 10^5
b. s consists of only lowercase English letters.

In [4]:
def firstUniqChar(s):
    # Create a dictionary to store character frequencies
    char_freq = {}
    
    # Count the frequency of each character
    for char in s:
        char_freq[char] = char_freq.get(char, 0) + 1
    
    # Find the index of the first non-repeating character
    for i, char in enumerate(s):
        if char_freq[char] == 1:
            return i
    
    return -1

In [5]:
# Example 1
s = "leetcode"
print(firstUniqChar(s))  # Output: 0

# Example 2
s = "loveleetcode"
print(firstUniqChar(s))  # Output: 2

# Example 3
s = "aabb"
print(firstUniqChar(s))  # Output: -1

0
2
-1